<table>
<tr><td>
<a href="?view_mode=keyred&id=[#ID#]&tab=info" class="btn btn-danger" color="red" title="Нажать кнопку F1">F 1</a> 
</td><td>
<a href="?view_mode=keygreen&id=[#ID#]&tab=info" class="btn btn-success" title="Нажать кнопку F2">F 2</a> 
</td><td>
<a href="?view_mode=keyyellow&id=[#ID#]&tab=info" class="btn btn-warning" title="Нажать кнопку F3">F 3</a> 
</td><td>
  <a href="?view_mode=keyblue&id=[#ID#]&tab=info" class="btn btn-primary" title="Нажать кнопку F4">F 4</a> 
</td><td>
  <a href="?view_mode=keymute&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку mute"><i class="glyphicon glyphicon-volume-off"></i></a> 
</td></tr>
<tr><td>
  <a href="?view_mode=keyapp&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку APP"><i class="glyphicon glyphicon-list-alt"></i></a> 
</td><td>
  <a href="?view_mode=keytv&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку TV"><i class="glyphicon glyphicon-facetime-video"></i></a> 
</td><td>
  <a href="?view_mode=keysetting&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку SETTINGS"><i class="glyphicon glyphicon-cog"></i></a>                        
</td><td>
  <a href="?view_mode=keykeyboard&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку KEYBOARD"><i class="glyphicon glyphicon-calendar"></i></a>  
</td><td>
  <a href="?view_mode=keyvolumeup&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку volume down"><i class="glyphicon glyphicon-volume-up"></i></a> 
</td></tr>
<tr><td>
  <a href="?view_mode=keyfback&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку |<<"><i class="glyphicon glyphicon-fast-backward"></i></a> 
</td><td>
  <a href="?view_mode=keyffwd&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку >>|"><i class="glyphicon glyphicon-fast-forward"></i></a> 
</td><td>
  <a href="?view_mode=keyback&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку <<"><i class="glyphicon glyphicon-backward"></i></a> 
</td><td>
  <a href="?view_mode=keyfov&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку >>"><i class="glyphicon glyphicon-forward"></i></a> 
</td><td>
  <a href="?view_mode=keyvolumedown&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку volume up"><i class="glyphicon glyphicon-volume-down"></i></a> 
</td></tr>
	
<tr><td>
  <a href="?view_mode=keystop0&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку stop<<"><i class="glyphicon glyphicon-stop"></i></a> 
</td><td>
  <a href="?view_mode=keyplay&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку play<<"><i class="glyphicon glyphicon-play"></i></a> 
</td><td>
</td><td>
  <a href="?view_mode=keypause&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку pause"><i class="glyphicon glyphicon-pause"></i></a> 
</td><td>
  <a href="?view_mode=keycancel&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку cancel"><i class="glyphicon glyphicon-remove"></i></a> 
</td></tr>





<tr><td>
  <a href="?view_mode=keyhome&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку HOME"><i class="glyphicon glyphicon-home"></i></a>     
</td><td></td><td>
  <a href="?view_mode=keyup&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку up"><i class="glyphicon glyphicon-arrow-up"></i></a> 
</td><td></td><td>
  <a href="?view_mode=keyexit&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку APP<<"><i class="glyphicon glyphicon-share"></i></a>    
</td></tr>

<tr><td>
</td><td>
  <a href="?view_mode=keyleft&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку left"><i class="glyphicon glyphicon-arrow-left"></i></a> 
</td><td>
  <a href="?view_mode=keyok&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку ok"><i class="glyphicon lyphicon glyphicon-ok"></i></a> 
</td><td>
  <a href="?view_mode=keyright&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку right"><i class="glyphicon glyphicon-arrow-right"></i></a> 
</td><td></td><td></td><td>

</td></tr>

<tr><td>
  <a href="?view_mode=keymenu&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку menu"><i class="glyphicon glyphicon-list"></i></a> 
</td><td></td><td>
  <a href="?view_mode=keydown&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку down"><i class="glyphicon glyphicon-arrow-down"></i></a> 
</td><td>

</td><td>
  <a href="?view_mode=keyinfo&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку info<<"><i class="glyphicon glyphicon-exclamation-sign"></i></a> 
</td></tr>


<tr></tr>
<tr><td>
  <a href="?view_mode=key0&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 0">0</a> 
</td><td>
  <a href="?view_mode=key1&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 1">1</a> 
</td><td>
  <a href="?view_mode=key2&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 2">2</a> 
</td><td>
  <a href="?view_mode=key3&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 3">3</a> 
</td><td>
  <a href="?view_mode=key4&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 4">4</a> 
</td><td>
<tr><td>
  <a href="?view_mode=key5&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 5">5</a> 
</td><td>
  <a href="?view_mode=key6&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 6">6</a> 
</td><td>
  <a href="?view_mode=key7&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 7">7</a> 
</td><td>
  <a href="?view_mode=key8&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 8">8</a> 
</td><td>
  <a href="?view_mode=key9&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку 9">9</a> 
</td></tr>


<tr><td>
  <a href="?view_mode=keysize&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку size"><i class="glyphicon glyphicon-move"></i></a>   
</td><td>
  <a href="?view_mode=keyguide&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку guide"><i class="glyphicon glyphicon-align-justify"></i></a>   
</td><td>
</td><td>
  <a href="?view_mode=keyaudiomode&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку audiomode"><i class="glyphicon glyphicon-bell"></i></a>   
</td><td>
  <a href="?view_mode=keyreload&id=[#ID#]&tab=info" class="btn btn-default" title="Нажать кнопку reload"><i class="glyphicon glyphicon-refresh"></i></a>   


</td></tr>




</table>
