

[#if VIEW_MODE!="0"#] 






<table align="center" class="table table-striped">





[#begin DEVICES#]

 <tr> 
<td>
<b>Название:</b></br>
 [#TITLE#]
 [#if PASSWORD=""#] <br><font color="red">Не задан пароль </font>[#endif#]

<br><br><br>
<b>Модель:</b></br>
 [#MODEL#]


<br><br><br>
  <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=[#ID#]&tab=info" class="btn btn-default" title="Редактировать"><i class="glyphicon glyphicon-pencil"></i></a>
  <a href="?view_mode=delete_devices&id=[#ID#]&tab=info" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-trash"></i></a> 
</td>
  <td>
<b>IP адрес:</b></br>
[#IP#]
<br><br><br>
<b>Серийный номер:</b></br>
[#MAC#]
<br><br><br>
<img src="../img/modules/img_[#MODEL#].png" width="250">
</td>

  <td style="vertical-align:top">
	[#if ONLINE!=""#]
		[#if ONLINE==1#]
			<span class="label label-success" title="<#LANG_XIMI_APP_ONLINE#>">Online</span>
		[#else#]
			<span class="label label-warning" title="<#LANG_XIMI_APP_OFFLINE#>">Offline</span>
		[#endif#]
	[#else#]
		&nbsp;
	[#endif#]
<br><br><br>
  <a href="?view_mode=keypower&id=[#ID#]&tab=info" class="btn btn-default" title="Выключить"><i class="glyphicon glyphicon-off"></i></a> 

 </td> 







&nbsp;&nbsp;
  <td>

[#inc pult.html#]
  </td>
 </tr>
 [#end DEVICES#]
</table>
[#else DEVICES#]
<p>No devices discovered yet</p>
[#endif DEVICES#]



[#endif VIEW_MODE#]








	


