<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Модуль для управление приставками MAG-245(250), WR-TECH 320 и похожих. 

			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Особенности использования</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>
Замечено, что при многократном включении/выключении питания контроллера,  происходит сброс настроек на заводские. 
В это время RGB лента моргнет разными цветами и появится открытая точка доступа LANDNet. Текущее соединение WIFI  будет сброшено и требуется произвести его конфигурирование через официальное
<a href="https://play.google.com/store/apps/details?id=com.Zengge.LEDWifiMagicHome"> приложение.</a>
		</div> </div> </div>

		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-mag250e" target="_blank">Ссылка на репозиторий</a><br>
<a href="" target="_blank">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

